html, body {
    background-color: black;
    color: rgb(85, 238, 218);
    width: 100%;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

nav.row{
    height: 50px;
}

nav button{
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

textarea {
    height: 200px;
    width: 400px;
}

textarea, input {
    background-color: black;
    color: rgb(85, 238, 218);
}

#newsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

#newsContainer button {
    width: 100%;
    height: 50px;
}

.news {
    border-style: groove;
    border-color: white;
    padding: 10px;
}

#previous {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

a, button {
    padding: 20px 10px;
    text-decoration: none;
    background-color: black;
    width: 30%;
    text-align: center;
    line-height: 0;
    color: rgb(85, 238, 218);
    border-style: groove;
    border-width: 3px;
    border-color: white;
}

a:hover, button:hover {
    background-color: rgb(12, 138, 121);
    transition: 1s;
    color: black;
    border-color: rgb(85, 238, 218);
}