<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Libraries.Properties.Settings.LibrariesConnectionString"
            connectionString="Data Source=DESKTOP-E94DLUN\SQLEXPRESS;Initial Catalog=Libraries;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="parentTable" value="Titles"/>
      <add key="parentPrimaryKey" value="TitleId"/>
      <add key="childTable" value="Characters"/>
      <add key="server" value="DESKTOP-E94DLUN\SQLEXPRESS"/>
      <add key="database" value="Libraries"/>
    </appSettings>
</configuration>