
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>

    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/changePassword.js" defer></script>

</head>
<body>
    <div class="column">
        <h1>Change password</h1>
        <a href="/Main/News">Back to news</a>
        <br>
        <label for="newPassword">Password</label>
        <input type="password" id="newPassword" name="newPassword"><br><br>
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword"><br><br>
        <label for="oldPassword">Old password</label>
        <input type="password" id="oldPassword" name="oldPassword"><br><br>

        <button id="changePasswordButton">Change password</button>
        <h3 id="message"></h3>
    </div>
</body>
</html>

