
@{
    Layout = null;
}

<div class="column">
    <label for="category">Category</label>
    <input type="text" id="category" name="category"><br><br>
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" name="startDate"><br><br>
    <label for="endDate">End Date</label>
    <input type="date" id="endDate" name="endDate"><br><br>
    <button id="filterButton">Filter news</button>
</div>

<div id="previous">
    <span id="prevCategory">Category: </span>
    <span id="prevStartDate">Start Date: </span>
    <span id="prevEndDate">End Date: </span>
</div>

<div id="newsContainer"></div>
