@{
    Layout = null;
}
@using AspCoreMVCEF.Models;
@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/main.css" rel="stylesheet" type="text/css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>News</title>
</head>
<body>
    <form class="column" action="/Main/Login" method="post">
        <h1>Welcome</h1>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br><br>
        <button>Login</button>
    </form>

    <br>
    <div class="column">
        <a href="/Main/CreateAccount">Create account</a>
        <br>
        <a href="/Main/ViewNews">View news</a>
    </div>
</body>
</html>
