@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/filterNews.js" defer></script>
</head>
<body>
    <br><br>
    <nav class="column">
        <a href="/Main">Go back</a>
        <br><br>
        <partial name="FilterNews" />
    </nav>
</body>
</html>
