body{
    background-color: black;
}

button{
    padding: 100px;
    font-size: 35px;
    color: blue;
    background-color: rgb(128, 233, 210);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 350px;
    border-radius: 10px;
    outline: none;
    transition: linear 0.3s;
}

button:hover{
    background-color: aqua;
    color: rgb(24, 163, 96);
}

.first{
    box-shadow: 20px 20px rgba(97, 248, 248, 0.39);
}

.first:hover{
    transform: translate(20px, 20px);
    box-shadow: 0px 0px;
}

.second{
    transform: rotateX(45deg);
    box-shadow: 0px 50px rgba(97, 248, 248, 0.39);
}

.second:hover{
    transform: rotateX(0deg);
    box-shadow: 0px 0px rgba(97, 248, 248, 0.39);
}
