<div class="form">
  <h1>Change password</h1>
  <label for="newPassword">Password</label>
  <input type="password" id="newPassword" name="newPassword" #newPassword><br><br>
  <label for="confirmPassword">Confirm password</label>
  <input type="password" id="confirmPassword" name="confirmPassword" #confirmPassword><br><br>
  <label for="oldPassword">Old password</label>
  <input type="password" id="oldPassword" name="oldPassword" #oldPassword><br><br>

  <button (click)="changePassword(newPassword.value, confirmPassword.value, oldPassword.value)" class="news">Change password</button>

  <p>{{changePasswordStatus}}</p>
</div>
